{% extends "./base.html" %}

{% block title %} GESTION DE USUARIOS {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
    <H2>Editar Usuarios</H2>
    <div class="card">
        <div class="card-body">
            <form action="/editaUser/{{registro.IdUser}}" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="numiduser" name="numiduser" value="{{registro.IdUser}}" class="form-control" readonly required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtname" name="txtname" value="{{registro.NameUser}}" class="form-control" placeholder="name" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtCorreo" name="txtCorreo" value="{{registro.CorreoUse}}" class="form-control" placeholder="correo" maxlength="30" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                </div>
            </form>                     
        </div>
    </div>
    </div>
</div>
{% endblock %}